/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/03/2016, 03:17:59 AM
    Author     : juan
*/

#monadd
{
    position: relative;
    margin: 5% auto auto 40%;
    width: 90%;
}

#mosmon
{
    width: 35%;
    margin: 0 auto;
}




#res
{
  border: 3px solid black;
  width: 120%;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  height: 40px;
  line-height: 100%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #A0BF30;
  background: linear-gradient(top,  #A6C732,  #3CB329);
  background: -ms-linear-gradient(top,  #A6C732,  #3CB329);
  background: -webkit-gradient(linear, left top, left bottom, from(#A6C732), to(#3CB329));
  background: -moz-linear-gradient(top,  #A6C732,  #3CB329);
  text-align: center;
}
td
{
    width: 100px;
}

#titu
{
    border: none;
    font-size: 25px;
    text-align: center;
    align-content: center;
    padding: 5px;
    padding-bottom: 20px;
}

#ok
{
    background: #d3e2da;
    border: 3px solid;
}
/*
Modificar de aki para abajo 
*/

.form-container {
   border: 0px solid #6469d4;
   background: #4541a8;
   background: -webkit-gradient(linear, left top, left bottom, from(#9cb3d6), to(#4541a8));
   background: -webkit-linear-gradient(top, #9cb3d6, #4541a8);
   background: -moz-linear-gradient(top, #9cb3d6, #4541a8);
   background: -ms-linear-gradient(top, #9cb3d6, #4541a8);
   background: -o-linear-gradient(top, #9cb3d6, #4541a8);
   background-image: -ms-linear-gradient(top, #9cb3d6 0%, #4541a8 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Arial',Helvetica,sans-serif;
   text-decoration: none;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field
{
   border: 1px solid #7f89a3;
   background: #a8dbd8;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #000000;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #000000;
   }
.form-container h2 {
   text-shadow: #86b888 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #ffffff;
   text-shadow: #86b888 0 1px 0;
   width: auto;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #6fc468;
   background: #363fa3;
   background: -webkit-gradient(linear, left top, left bottom, from(#5abfae), to(#363fa3));
   background: -webkit-linear-gradient(top, #5abfae, #363fa3);
   background: -moz-linear-gradient(top, #5abfae, #363fa3);
   background: -ms-linear-gradient(top, #5abfae, #363fa3);
   background: -o-linear-gradient(top, #5abfae, #363fa3);
   background-image: -ms-linear-gradient(top, #5abfae 0%, #363fa3 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #ffffff;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #5b5e57 0 1px 0;
   border: 1px solid #6a6e66;
   background: #0018b3;
   background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#6aa436));
   background: -webkit-linear-gradient(top, #000000, #0018b3);
   background: -moz-linear-gradient(top, #000000, #0018b3);
   background: -ms-linear-gradient(top, #000000, #0018b3);
   background: -o-linear-gradient(top, #000000, #0018b3);
   background-image: -ms-linear-gradient(top, #000000 0%, #0018b3 100%);
   color: #fff;
   }