/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/03/2016, 03:17:59 AM
    Author     : juan
*/

#monadd
{
    position: relative;
    margin: 5% auto auto 40%;
}

/*
Modificar de aki para abajo 
*/

.form-container {
   border: 5px solid #2a2d42;
   background: #29231d;
   background: -webkit-gradient(linear, left top, left bottom, from(#d1d1f0), to(#29231d));
   background: -webkit-linear-gradient(top, #d1d1f0, #29231d);
   background: -moz-linear-gradient(top, #d1d1f0, #29231d);
   background: -ms-linear-gradient(top, #d1d1f0, #29231d);
   background: -o-linear-gradient(top, #d1d1f0, #29231d);
   background-image: -ms-linear-gradient(top, #d1d1f0 0%, #29231d 100%);
   -webkit-border-radius: 22px;
   -moz-border-radius: 22px;
   border-radius: 22px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 1px solid #c9b7a2;
   background: #f0ece8;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #000000;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #6c71ab;
   color: #000000;
   }
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #ffffff;
   text-shadow: #fdf2e4 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 2px solid #171717;
   background: #262e1f;
   background: -webkit-gradient(linear, left top, left bottom, from(#31540b), to(#262e1f));
   background: -webkit-linear-gradient(top, #31540b, #262e1f);
   background: -moz-linear-gradient(top, #31540b, #262e1f);
   background: -ms-linear-gradient(top, #31540b, #262e1f);
   background: -o-linear-gradient(top, #31540b, #262e1f);
   background-image: -ms-linear-gradient(top, #31540b 0%, #262e1f 100%);
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #46701c 0 1px 0;
   color: #ffffff;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 2px solid #cccfc9;
   text-shadow: #0c1e52 0 1px 0;
   background: #1b1c19;
   background: -webkit-gradient(linear, left top, left bottom, from(#323b28), to(#1b1c19));
   background: -webkit-linear-gradient(top, #323b28, #1b1c19);
   background: -moz-linear-gradient(top, #323b28, #1b1c19);
   background: -ms-linear-gradient(top, #323b28, #1b1c19);
   background: -o-linear-gradient(top, #323b28, #1b1c19);
   background-image: -ms-linear-gradient(top, #323b28 0%, #1b1c19 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #7d7949 0 1px 0;
   border: 2px solid #232422;
   background: #111210;
   background: -webkit-gradient(linear, left top, left bottom, from(#283d14), to(#1b1c19));
   background: -webkit-linear-gradient(top, #283d14, #111210);
   background: -moz-linear-gradient(top, #283d14, #111210);
   background: -ms-linear-gradient(top, #283d14, #111210);
   background: -o-linear-gradient(top, #283d14, #111210);
   background-image: -ms-linear-gradient(top, #283d14 0%, #111210 100%);
   color: #fff;
   }